/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
	margin-top: 60px;
}


body.auth
{
	background-color: #18bc9c;
}

footer
{
	background-color: #333;
	color: #fff;
}

#auth-content
{
	margin: 0px auto;
	max-width: 500px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 40px;
}

.lecture-thumb
{
	float: left;
	width: 200px;
	height: 200px;
	overflow: hidden;
	text-align: center;
	margin-right: 20px;
}

.lecture-thumb img
{
	width: auto;
	height: 200px;
}

.lecture-note-img
{
	width: 100%;
	margin: 10px 0px;
}

.lecture-row-time
{
	display: block;
	font-size: 18px;
	color: gray;
}