@import "bootstrap/bootstrap.less";
@import "nivo-lightbox/nivo-lightbox.css";
@import "nivo-lightbox/themes/default/default.css";
@import "bootstrap-sortable.css";

/* ==========================================================================
   Variables
   ========================================================================== */

@xs-max: ~'max-width: @{screen-xs}';
@sm-max: ~'max-width: @{screen-sm}';
@sm: ~'min-width: @{screen-sm-min}';
@md: ~'min-width: @{screen-md-min}';
@lg: ~'min-width: @{screen-lg-min}';

/* ==========================================================================
   General
   ========================================================================== */

html
{
	position: relative;
	min-height: 100%;
}

body
{
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	margin-top: 60px;
	font-weight: 200;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: 400;
}

/* ==========================================================================
   Main content
   ========================================================================== */
#main .container
{
	margin-top: 20px;
}

a.delete-link
{
	color: @brand-danger;
}

a.delete-link:hover
{
	color: darken(@brand-danger,20%);
	text-decoration: none;
}

a.detail-link:hover
{
	text-decoration: none;
}

/* ==========================================================================
   Browse
   ========================================================================== */
.home-search-submit
{
	width: 100%;
}

/* ==========================================================================
   Footer
   ========================================================================== */
#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: @gray-dark;
	color: #fff;
}

/* ==========================================================================
   Auth login
   ========================================================================== */

body.auth
{
	background-color: @gray-dark;
}

#auth-content
{
	margin: 0px auto;
	max-width: 500px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 40px;
}

/* ==========================================================================
   Admin camera list
   ========================================================================== */

.camera-status-offline-icon
{
	.glyphicon();
	.glyphicon-remove-circle();
	color: @brand-danger;
}

.camera-status-offline-text
{
	color: @brand-danger;
}

.camera-status-online-icon
{
	.glyphicon();
	.glyphicon-ok-circle();
	color: @brand-success;
}

.camera-status-online-text
{
	color: @brand-success;
}

.camera-status-loading .jsspinner
{
	position: relative !important;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}

/* ==========================================================================
   Lecture list
   ========================================================================== */

.lecture-row
{
	.clearfix;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid #eee;
}

.lecture-thumb
{
	float: left;
	width: 100%;
	height: 100px;
	overflow: hidden;
	text-align: center;
	margin-right: 20px;
	background: @gray-darker;
}

.lecture-thumb img
{
	width: auto;
	height: 100%;
}


.lecture-row-time
{
	display: block;
	font-size: 18px;
	color: gray;
}

.lecture-row-time strong
{
	font-weight: inherit;
}

.lecture-row-course-name
{
	font-size: 24px;
}

.lecture-row-course-code
{
	font-weight: 400;
	font-size: 18px;
	color: #777;
	line-height: 36px;
	vertical-align: top;
}

.lecture-row-meta
{
	display: block;
}

.lecture-row-course-link span
{
	font-size: 10px;
	.glyphicon;
	.glyphicon-share-alt;
	vertical-align: top;
	line-height: 20px;
}



/* ==========================================================================
   Lecture detail
   ========================================================================== */

.lecture-note-row
{
	border: 2px #eee solid;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	background: #000;
	color: #fff;
}

.lecture-note-row img
{
	width: 100%;
}

.lecture-note-row .meta
{
	font-size: 14px;
	font-weight: 200;
	text-align: right;
	display: block;
	margin-top: 10px;
}
.lecture-note-row .meta .date
{
	display: inline;
	font-size: 14px;
	font-weight: 800;
}


.lecture-detail .course
{
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
	font-weight: 400;
}

.lecture-detail .title
{
	display: block;
	font-size: 30px;
}

.lecture-detail h1
{
	display: block;
	font-size: 20px;
}
.lecture-detail .date
{
	font-weight: 800;
}


/* ==========================================================================
   Course detail
   ========================================================================== */
   
.course-detail .course-title-code
{
	font-weight: 400;
	font-size: 22px;
	color: #aaa;
}

.course-detail .course-title-name
{
	margin-top: 0px;
}

.course-detail .title
{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	color: #666;
}

.course-detail .lecture-row-time
{
	color: #666;
}

.course-detail .lecture-row-time strong
{
	font-weight: 400;
}

.course-detail .lecture-row-course-code
{
	display: none;
}
.course-detail .lecture-row-course-name
{
	display: none;
}
.course-detail .lecture-row-course-link
{
	display: none;
}

#course-period-select-form
{
	float: right;
	max-width: 300px;
}

#course-period-select-form label
{
	text-align: right;
}