@import "bootstrap/bootstrap.less";
@import "nivo-lightbox/nivo-lightbox.css";
@import "nivo-lightbox/themes/default/default.css";
@import "bootstrap-sortable.css";

/* ==========================================================================
   Variables
   ========================================================================== */

@xs-max: ~'max-width: @{screen-xs}';
@sm-max: ~'max-width: @{screen-sm}';
@sm: ~'min-width: @{screen-sm-min}';
@md: ~'min-width: @{screen-md-min}';
@lg: ~'min-width: @{screen-lg-min}';

@footer-height: 180px;

@lecture_note_thumb_width: 445px;
@lecture_note_thumb_height: 100px;

/* ==========================================================================
   General
   ========================================================================== */

html
{
	position: relative;
	min-height: 100%;
}

body
{
	margin-bottom: @footer-height;
	margin-top: 60px;
	font-weight: 200;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: 400;
}

/* ==========================================================================
   Main content
   ========================================================================== */
#main .container
{
	margin-top: 20px;
}

a.delete-link
{
	color: @brand-danger;
}

a.delete-link:hover
{
	color: darken(@brand-danger,20%);
	text-decoration: none;
}

a.detail-link:hover
{
	text-decoration: none;
}
/* ==========================================================================
   Navbar
   ========================================================================== */

#navbar-main .navbar-brand
{
	padding-top: 8px;
}
.navbar-brand #logo
{
	height: 80%;
}

.logo-fill
{
	fill: @brand-primary;
}
   
/* ==========================================================================
   Footer
   ========================================================================== */
#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 8px solid #333;
	padding-top: 10px;
	height: @footer-height -8px -10px;
	background-color: #222;
	color: #ccc;
	font-size: 12px;
}

/* ==========================================================================
   Browse
   ========================================================================== */
#browse-content h2
{
	font-weight: 200;
	color: #333;
}
#browse-content h2 .search-term
{
	font-weight: 800;
}


.home-search-submit
{
	width: 100%;
}
#browse-search
{
	position: relative;
	width: 100%;
}
#browse-search input
{
	font-size: 20px;
	margin: 10px 0px;
	border: none;
	box-shadow: 0px 0px 0px black;
	border-radius: 0px;
	width: 100%;
	height: 40px;
	padding-left: 26px;
	border-bottom: 1px solid #eee;
}
#browse-search button
{
	padding: 10px;
}

#browse-search-icon .icon
{
	.glyphicon();
	.glyphicon-search();
	float: left;
	position: absolute;
	z-index: 10;
	left: 0px;
	top: 10px;
	font-size: 16px;
}
#browse-search-icon .spinner
{
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 18px;
	display: none;
}

#browse-search-icon.loading .icon
{
	display: none;
}
#browse-search-icon.loading .spinner
{
	display: block;
}

#browse-search-loading-spinner
{
	display: none;
	margin-left: 10px;
}
#browse-search-loading-spinner.running
{
	display: block;
}

/* ==========================================================================
   Auth login
   ========================================================================== */

body.auth
{
	background-color: @gray-dark;
}

#auth-content
{
	margin: 0px auto;
	max-width: 500px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 40px;
}

/* ==========================================================================
   Admin dashboard
   ========================================================================== */

.panel-icon
{
	float: left;
	font-size: 48px;
	display: block;	
	margin-right: 14px;
}
.panel-content
{
	float: left;
	height: 100%;
	display: block;	
}
.panel-content h2
{
	margin: 0px;
}
/* ==========================================================================
   Admin camera list
   ========================================================================== */

.camera-status-offline-icon
{
	.glyphicon();
	.glyphicon-remove-circle();
	color: @brand-danger;
}

.camera-status-offline-text
{
	color: @brand-danger;
}

.camera-status-online-icon
{
	.glyphicon();
	.glyphicon-ok-circle();
	color: @brand-success;
}

.camera-status-online-text
{
	color: @brand-success;
}

.camera-status-loading .jsspinner
{
	position: relative !important;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}

/* ==========================================================================
   Course list
   ========================================================================== */
a.course-row-link:hover
{
	text-decoration: none;
}
.course-row
{
	.panel();
	.panel-default();
	padding: 20px;
}
.course-list-icon
{
	.glyphicon();
	.glyphicon-book();
	font-size: 40px;
	margin: 20px 20px 20px 0px;
	float: left;
	display: block;
}
.course-list-code
{
	font-weight: 400;
	font-size: 16px;
	display: block;
	color: #999;
}
.course-list-name
{
	font-weight: 400;
	font-size: 20px;
	display: block;
	color: #000;
}
.course-list-lecture-count
{
	font-size: 14px;
	display: block;
	color: #666;
}



/* ==========================================================================
   Lecture list
   ========================================================================== */

.lecture-row
{
	.clearfix;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: 3px solid #eee;
}

.lecture-row div:nth-child(2)
{	@media(@sm)
	{
		padding-top: 14px;
	}
}

.lecture-thumb
{
	float: left;
	width: 100%;
	height: @lecture_note_thumb_height+10px;
	overflow: hidden;
	margin-right: 20px;
	background: @gray-darker;
	border: 5px solid #111;
	border-radius: 5px;
	@media(@sm-max)
	{
		margin-bottom: 20px;
	}
}

.lecture-thumb img
{
    left: 50%;
    margin-left: -(@lecture_note_thumb_width/2);
    margin-top: -(@lecture_note_thumb_height/2);
    position: relative;
    top: 50%;
    width: @lecture_note_thumb_width;
	height: @lecture_note_thumb_height;
}


.lecture-row-time
{
	display: block;
	font-size: 18px;
	color: gray;
}

.lecture-row-time strong
{
	font-weight: inherit;
}

.lecture-row-course-name
{
	font-size: 24px;
}

.lecture-row-course-code
{
	font-weight: 400;
	font-size: 18px;
	color: #777;
	line-height: 36px;
	vertical-align: top;
}

.lecture-row-meta
{
	display: block;
}

.lecture-row-course-link span
{
	font-size: 10px;
	.glyphicon;
	.glyphicon-share-alt;
	vertical-align: top;
	line-height: 20px;
}



/* ==========================================================================
   Lecture detail
   ========================================================================== */

.lecture-note-row
{
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	background: #111;
	color: #fff;
}

.lecture-note-row img
{
	width: 100%;
}

.lecture-note-row .meta
{
	font-size: 14px;
	font-weight: 200;
	text-align: right;
	display: block;
	margin-top: 10px;
}
.lecture-note-row .meta .date
{
	display: inline;
	font-size: 14px;
	font-weight: 800;
}


.lecture-detail .course
{
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
	font-weight: 400;
}

.lecture-detail .title
{
	display: block;
	font-size: 30px;
}

.lecture-detail h1
{
	display: block;
	font-size: 20px;
}
.lecture-detail .date
{
	font-weight: 800;
}


/* ==========================================================================
   Course detail
   ========================================================================== */
   
.course-detail .course-title-code
{
	font-weight: 400;
	font-size: 22px;
	color: #aaa;
}

.course-detail .course-title-name
{
	margin-top: 0px;
}

.course-detail .title
{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	color: #666;
}

.course-detail .lecture-row-time
{
	color: #666;
}

.course-detail .lecture-row-time strong
{
	font-weight: 400;
}

.course-detail .lecture-row-course-code
{
	display: none;
}
.course-detail .lecture-row-course-name
{
	display: none;
}
.course-detail .lecture-row-course-link
{
	display: none;
}

#course-period-select-form
{
	float: right;
	max-width: 300px;
}

#course-period-select-form label
{
	text-align: right;
}